* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    font-size: 1em;
}

/* Navigation Bar Styling */
nav {
    background-color: darkslategrey;
}

.nobullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-bar {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    display: flex;
    flex-wrap: wrap;
}

.nav-bar-item {
    border: 0.1px solid rgb(211, 211, 211);
    /*width: 20%;*/
    flex: 1;
}

@media all and (max-width: 600px) {
    .nav-bar-item {
        flex-basis: 50%;
    }
}

@media all and (max-width: 400px) {
    .nav-bar-item {
        flex-basis: 100%;
    }
}

.nav-bar-item a {
    color: rgb(211, 211, 211);
    text-align: center;
    text-decoration: none;
    /* This piece of code made the entire anchor tag clickable*/
    display: inline-block;
    padding: 15px 15px;
    /*--------------------------------------------------------*/
    width: 100%;
}

.nav-bar-item:hover {
    background-color: rgb(211, 211, 211);;
}

.nav-bar-item a:hover {
    color: black;
}
/*----------------- Navigation Bar Ending --------------------*/

/* Image Styling*/
img {
    max-width: 100%;
    height: auto;
}

/* About Me section styling */
#about-me {
    background-color: lightgrey;
}

#about-me p {
    color: black;
}

/* Project Styling */
.project-journalr {
    color: red;
}

.project-travollor {
    color: lime;
}

.project-cd-demise {
    color: blue;
}

.project-relational-algebra-division-queries {
    color: purple;
}