* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

    font-size: 1em;

    font-family: 'Cairo', sans-serif;
    
}

h1 {
    font-size: 5vh;
}

footer {
    padding-bottom: 5vh;
    padding-top: 5vh;
    display: grid;
    color: white;
}


/* Nav Bar */

main {
    margin-top: 10vh;
}

.nobullets {
    list-style-type: none;
}

nav {
    /*overflow: hidden;*/
    background-color: #333;
    position: fixed;  /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#nav-bar {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;

    font-family: 'Cairo', sans-serif;
    font-size: 3vh;
}

.nav-bar-item {
    /*border: 0.1px solid #333;*/
    /*width: 20%;*/
    flex: 1;
}
/*
@media all and (max-width: 400px) {
    nav {
        position: relative;
    }
    main {
        margin-top: 0px;
    }
    .nav-bar-item {
        flex-basis: 100%;
    }
}

@media all and (max-width: 600px) {

    nav {
        position: relative;
    }

    main {
        margin-top: 0px;
    }
    .nav-bar-item {
        flex-basis: 100%;
        font-size: 3vh;
    }
    #nav-bar {
        font-size: 3vh;
    }
}
*/
.nav-bar-item a {
    color: white;         ;
    text-align: center;
    text-decoration: none;
    /* This piece of code made the entire anchor tag clickable*/
    display: inline-block;
    padding: 1vh 1vh;
    /*--------------------------------------------------------*/
    width: 100%;
    font-size: 3vh;
}

.nav-bar-item:hover {
    background-color: antiquewhite;
    border-color: antiquewhite;
}

.nav-bar-item a:hover {
    color: black;
}
/*-------------------------------------------------------------*/


/* iFrame Wrapper */
iframe {
    top: 0;
    left: 0;
    width: 80vh;
    height: 45vh;
    padding: 3vh 3vh 3vh 3vh;
    border-radius: 5vh;
}


.container {
    display: grid;
    width: auto;
}


.responsive-img {
    width: 40%;
    height: auto;
}

#projects {
    display: grid;
}

#projects p {
    font-size: 3vh;
    padding: 3vh;
    width: 80vh;
    color: white;
}

#projects a {
    color: white;

    background-color: #333;
    border-radius: 5vh;

    text-align: center;
    text-decoration: none;
    /* This piece of code made the entire anchor tag clickable*/
    display: inline-block;
    padding: 1vh 1vh;
    /*--------------------------------------------------------*/
    width: 60%;
    margin-left: 20%;
    font-size: 5vh;
    cursor: pointer;
}

#projects a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#waitless {
    grid-column: 1;
    grid-row: 1;

    overflow: auto;

    align-self: center;
    justify-self: center;

}

#journalr {
    grid-column: 1;
    grid-row: 2;

    align-self: center;
    justify-self: center;
}

#travollor {
    grid-column: 1;
    grid-row: 3;

    align-self: center;
    justify-self: center;
}

#relational-algebra-division-queries {
    grid-column: 1;
    grid-row: 4;

    align-self: center;
    justify-self: center;
}

#cd-demise {
    grid-column: 1;
    grid-row: 5;

    align-self: center;
    justify-self: center;
}


/* background image */
.mountain-background {
    background: url(/images/asoggetti-17_tB-oI0ao-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -30vh;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px #09141a inset;
}

/* fading */

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}